<p id="notice"><%= notice %></p>

<h1>Replaced Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replaced_ingredients.each do |replaced_ingredient| %>
      <tr>
        <td><%= replaced_ingredient.name %></td>
        <td><%= replaced_ingredient.quantity %></td>
        <td><%= link_to 'Show', replaced_ingredient %></td>
        <td><%= link_to 'Edit', edit_replaced_ingredient_path(replaced_ingredient) %></td>
        <td><%= link_to 'Destroy', replaced_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Replaced Ingredient', new_replaced_ingredient_path %>
