 <% if @path.is('users#edit') %>
 <% @url = user_path %>
 <% else %>
 <% @url = choose_new_or_edit %>
 <% end %>
<%= form_for(@user, url: @url) do |f| %>
<%#= form_for(@user, url: user_path) do |f| %>
<%#= form_for(@user, url: choose_new_or_edit) do |f| %>
<%#
<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :姓 %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :名 %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= collection_check_boxes(:user, :allergen_ids, Allergen.all, :id, :name) do |al_usr| %>
      <%= al_usr.label { al_usr.check_box + al_usr.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %>
    <%= f.file_field :image_path, id: :user_image_path %>
  </div>
  
  <div class="field">
    	プロフィール画像: 
        <%# 一時ディレクトリの場所にある画像を表示 %>
       <%= image_tag(@user.image_path_url) rescue nil %>

  </div>
  <% if @path.is('users#new') %>
  	<div class="field">
    	<%= f.label :会員登録に同意する場合はチェックを入れてください %>
    	<%= f.check_box :registration %>
  	</div>
  <% end %>
  	<div class="actions">
    	<%= f.submit '次へ'  %>
  	</div>
<% end %>