<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :姓 %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :名 %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= collection_check_boxes(:allergen, :allergens_users, Allergen.all, :id, :name) do |al_usr| %>
      <%= al_usr.label { al_usr.check_box + al_usr.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :プロフィール画像 %>
    <%= form.file_field :image_path, id: :user_image_path %>
  </div>

  <div class="field">
    <%= form.label :会員登録に同意する場合はチェックを入れてください %>
    <%= form.check_box :registration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
