
<div class="jumbotron mt-5">
<h3>退会手続き</h3>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>

<p>
  <strong>アレルギー品目</strong>
  <% @user.allergens.each do |allergen| %>
  	 		<%= allergen.name %> &nbsp
  <% end %>
	 
</p>

<div class="profile-image">
<%= image_tag(@user.image_path_url) rescue nil %>
</div>

<%= link_to '退会する', user_path(session[:usr]), method: :delete , data: { confirm: '本当に退会しますか？' }, class: "btn btn-color text-light" %>
</div>
