<%= form_for @user do |f| %>
	<div class="field">
		メールアドレス: <%= @user.email %>
		<%= f.hidden_field :email %>
	</div>
	
	<div class="field">
		姓: <%= @user.last_name %>
		<%= f.hidden_field :last_name %>
	</div>	
	
	<div class="field">
		名: <%= @user.first_name %>
		<%= f.hidden_field :first_name %>
	</div>

	<div class="field">
		パスワード: *****************
		<%= f.hidden_field :password %>
	</div>
	
	<div class="field">
       アレルギー品目: 

       
      <%= collection_check_boxes(:user, :allergen_ids, Allergen.all, :id, :name) do |al_usr| %>
      <%= al_usr.label { al_usr.check_box(disabled: :disabled) + al_usr.text } %>
      <% end %>
       <%= f.hidden_field :allergen_ids, multiple: true, value: nil %>
       <%# = f.hidden_field :child_model_ids, multiple: true, value: nil %>
       <% @user.allergens_users.each do |allergen_id| %>
       <%= f.hidden_field :allergen_ids, multiple: true, value: allergen_id.id %>
       <% end %>
    </div>
    
    <div class="field">
    	プロフィール画像: 
        <%# 一時ディレクトリの場所にある画像を表示 %>
       <%= image_tag(@user.image_path.url) %>

        <%# キャッシュ名(一時ディレクトリの名前)をhiddenで渡す %>
       <%= hidden_field_tag :"cache[image_path]", @user.image_path.cache_name %>
    </div>
    
    <div class="actions">
    	<%= f.submit 'Back!', name: 'back' %>
    </div>

    <div class="actions">
    	<%= f.submit 'create!' %>
    </div>
	
<% end %>
