<h1>マイページ</h1>
 
<h2>プロフィール</h2> 

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>

<%= image_tag(@user.image_path_url) rescue nil %>

<p>
  <strong>アレルギー品目</strong>
    <% @user.allergens.each do |allergen| %>
  	 <%= allergen.name %>
  	 <% end %>
  
	 <%#= collection_check_boxes(:user, :allergen_ids, Allergen.all, :id, :name) do |al_usr| %>
     <%#= al_usr.label { al_usr.check_box(disabled: :disabled) + al_usr.text } %>
    <%# end %>
</p>

<%= link_to '登録情報変更', 'edit' %>

<p>
<h2>投稿レシピ</h2> 
<ul>
  <% @receipes.each do |receipe| %>
    <li>
      <%= link_to receipe.title, receipe %>
      <%= image_tag(receipe.image_path_url, :width => 400, :height => 300) rescue nil %>
    </li>
  <% end %>
</ul>
<%= will_paginate @receipes, :param_name => 'myreceipe_page', :renderer => BootstrapPagination::Rails %>
</p>
<p>
<h2>お気に入り</h2> 
<ul>
<% @bookmarks.each do |b_rsp| %>
   <li>
   	   <%= link_to b_rsp.receipe.title, b_rsp.receipe %>
      <%= image_tag(b_rsp.receipe.image_path_url, :width => 400, :height => 300) rescue nil %>
   	</li>
<% end %>
</ul>
<%= will_paginate @bookmarks,  :param_name => 'bookmark_page', :renderer => BootstrapPagination::Rails %>
</p>

<%= link_to 'レシピを投稿する', new_receipes_path(user_id: session[:usr]) %>
<%#= link_to 'レシピを投稿する', controller: :receipes, action: :new %>
<%= link_to 'ログアウト', logout_path, method: :post %>
