<div class="jumbotron text-black">
	<div class="jumbotron col-md-6">

<p id="notice"><%= notice %></p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>

<p>
   <td><%= image_tag(@user.image_path_url) rescue nil %></td>
</p>

<p>
  <strong>アレルギー品目</strong>
    <% @user.allergens.each do |allergen| %>
  	 	<%= allergen.name %> &nbsp
  	<% end %>
</p>

</div>
</div>
