<h1>レシピサイト</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div>
	<p>レシピ名から検索</p>
	<%= search_form_for @search  do |f| %>
	<div class="form-group">
		<%#= f.label :title_cont, "Receipe" %>
		<%= f.text_field :title_cont, class: "form-control" %>
	</div>	
	
	<p>カテゴリから検索</p>
	
	<p>検索オプション</p>
	
	<div class="actions"><%= f.submit "検索" %></div>
	<% end %>
</div>




<%= link_to 'ユーザ登録', new_user_path %>
<%= link_to 'ログイン', login_index_path %>
