
	<div class="jumbotron jumbotron-img text-black">
		<div class="jumbotron col-md-6">
		<h3>レシピ検索</h3>
		<%= search_form_for @search, url: root_path do |f| %>
		<%#= search_form_for @search, url: root_path, html: { method: :post, class: 'ransack-form' } do |f| %>
			<p class="h6">レシピ名</p>
		
			<div class="form-group">
				<%= f.text_field :title_cont, :style => "width:80%", class: "form-control"  %>
			</div>	
	
			<p class="h6">カテゴリ</p>
				<%= f.collection_radio_buttons :receipe_category_id_eq , @receipe_category, :id, :name , {:checked => true} %>
			<% if session[:usr]%>
	
			<% else %>
			<p class="h6">除外アレルギー</p>
    			<%= f.collection_check_boxes :ingredients_allergens_id_not_eq_all, Allergen.all, :id, :name, {:checked => true}%>
    		<% end %>
    		<%#= hidden_field_tag 'page', '1', {class: 'ransack-page'} %>
    	
    	 	<%# if params[:q][:title_cont].present? %>
    			<%# params[:param1] = params[:q][:title_cont] %>
    	 	<%# end %>
    		<%#= hidden_field_tag 'param1', params[:param1] %>

    		<%# if params[:q][:receipe_category_id_eq].present? %>
    			<%# params[:param2] = category_name(params[:q][:receipe_category_id_eq]) %>
    		<%# end %>
    		<%#= hidden_field_tag 'param2', params[:param2] %>

    		<%# if params[:q][:ingredients_allergens_id_not_eq_all].present? %>
    	    	<%# params[:param3] = "" %>
		    	<%# @allergens.each do |allergen| %>
		    		<%# params[:param3] = params[:param3] + allergen.name + " " %>
		    	<%# end %>
			<%# end %>
    		<%#= hidden_field_tag 'param3', params[:param3] %>
    	<%# end %>
			<div class="actions"><%= f.submit "検索", class: "btn btn-color text-light" %></div>
		<% end %>
	   </div>
	</div>

<%= render 'search', home: @home %>