<%= form_with(model: receipe_evaluation, local: true) do |form| %>
  <% if receipe_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipe_evaluation.errors.count, "error") %> prohibited this receipe_evaluation from being saved:</h2>

      <ul>
      <% receipe_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :receipe_id %>
    <%= form.text_field :receipe_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
