<p id="notice"><%= notice %></p>

<h1>Receipe Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Receipe</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipe_evaluations.each do |receipe_evaluation| %>
      <tr>
        <td><%= receipe_evaluation.user_id %></td>
        <td><%= receipe_evaluation.receipe_id %></td>
        <td><%= receipe_evaluation.rating %></td>
        <td><%= link_to 'Show', receipe_evaluation %></td>
        <td><%= link_to 'Edit', edit_receipe_evaluation_path(receipe_evaluation) %></td>
        <td><%= link_to 'Destroy', receipe_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipe Evaluation', new_receipe_evaluation_path %>
